@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
h2
	text-align: center
	font-size: 30px
	font-weight: 300
	margin: 10px 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.header
		background-color: $main-color
		img
			float: left
			margin-top: 10px
			margin-right: 22px
		h1
			font-size: 30px
			font-family: $default-font
			margin-top: 8px
			float: left
			color: #fff
			margin-bottom: 0
		h4
			font-family: $default-font
			float: left
			color: #fff
			margin-top: -8px
			font-size: 18px
			font-weight: 300	
		.phone
			margin-top: 25px
			a
				text-decoration: none
				color: #fff
				float: right
				font-size: 30px
				font-weight: 300
				&:hover
					text-decoration: underline
				&:before
					content: ' '
					position: absolute
					background: url(../img/ic-ph/phone.png) 0 0 no-repeat
					background-size: contain
					width: 45px
					height: 45px
					margin-left: -53px
					margin-top: 0px
.zag
	display: inline
.nav
	padding-left: 0
	margin: 0
	position: relative
	li
		display: inline-block	
		margin-right: 25px
		font-size: 16px
		text-decoration: none
		padding: 10px
		a
			color: #282828
			&:active
				text-decoration: underline
		&:hover
			background-color: #8392a5
			// border-bottom: 2px $main-color solid
			a
				color: #fff
				text-decoration: none
			ul
				display: block
				li
					display: block
					a
						color: #282828
	ul
		display: none
		background: #fff
		position: absolute
		top: 100%
		margin: 0
		box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1)
		border: 1px solid rgba(0,0,0,.1)
		margin-left: -10px
		padding: 0
		li
			float: none
			position: relative
			padding-top: 0px
			padding-bottom: 0px
			&:hover
				background: none
				border: none
				a
					text-decoration: underline
.slideforma
	background: url(../img/ic-ph/slidecar.jpeg) 0 0 no-repeat
	width: 100%
	height: 500px
.formaout
	background-color: rgb(131, 146, 165)
	opacity: 0.929
	margin-top: 35px
	padding: 12px
	display: block
	float: right
	color: #fff
	h2
		font-size: 18px
		color: #fff
		font-weight: 200
		text-align: center
		margin-top: 0
	p
		text-align: center
		margin-top: 8px
		margin-bottom: 5px
.formin
	background-color: rgb(24, 64, 109)
	// opacity: 0.78
	padding-top: 15px
	display: inline-block
	form
		margin: 0 35px
		input
			color: #000
			display: inline-block
			border: none
			padding-left: 5px
.lab
	display: inline-block
	background: #818fa1
	height: 28px
	width: 67px
	text-align: center
	position: relative
	top: -1px
.free
	height: 10px
.phonein
	text-align: center
	width: 100%
	margin-top: 15px
.but
	display: block
	color: #fff
	background: none
	border: 2px #fff solid
	margin: 0 auto
	margin-top: 15px
	text-align: center
	width: 115px
	margin-bottom: 20px
	&:hover
		background: #fff
		color: $main-color
.about
	p
		text-align: center
		margin-top: 10px	
		margin-bottom: 20px
.gruz
	h2
		color: #fff
		margin-top: 60px
	background: url(../img/ic-ph/skos1.jpg) 0 0 no-repeat





@import "media" // Всегда в конце
