@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.header
		background-color: $main-color
		img
			float: left
			margin-top: 10px
			margin-right: 22px
		h1
			font-size: 30px
			font-family: $default-font
			margin-top: 8px
			float: left
			color: #fff
			margin-bottom: 0
		h4
			font-family: $default-font
			float: left
			color: #fff
			margin-top: -12px
			font-size: 18px
			font-weight: 300	
		.phone
			margin-top: 25px
			a
				text-decoration: none
				color: #fff
				float: right
				font-size: 30px
				font-weight: 300
				&:hover
					text-decoration: underline
				&:before
					content: ' '
					position: absolute
					background: url(../img/ic-ph/phone.png) 0 0 no-repeat
					background-size: contain
					width: 45px
					height: 45px
					margin-left: -53px
					margin-top: 0px

@import "media" // Всегда в конце
